<div class="app">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</div>



<footer class="footer">
  <div class="footer-content">
    <div class="footer-brand">
      <h3>New E-Shop</h3>
      <p>Your go-to place for modern, quality shopping.</p>
    </div>

    <div class="footer-links">
      <a routerLink="/home">Home</a>
      <a routerLink="/products">Products</a>
      <a routerLink="/cart">Cart</a>
      <a routerLink="/signin">Sign In</a>
      <a routerLink="/signup">Sign Up</a>
    </div>

    <div class="footer-social">
      <p>Follow us:</p>
      <div class="icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    &copy; 2025 New E-Shop. All rights reserved.
  </div>
</footer>